@import '../utils/bootstramp/bootstrap.min.css';
@import './reset.css';
@import './login.css';
@import './card.css';
@import './contact.css';
@import './search.css';

.bg-purple-primary{
    background: var(--colors-purple-primary);
}
.bg-purple-secondary {
    background: var(--color-purple-scondary);
}
.bg-zircon{
    background: var(--colors-zircon);
}
.bg-white-gray{
    background-color: var(--color-white-gray);
}
.bg-yellow{
    background-color: var(--color-yellow);
}
.color-white{
    color: var(--color-white)
}
.color-gray{
    color: var(--text-gray)
}
.header{
    width: 100%;
    min-height: 80vh;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
.border-gray{
    border: 1px solid var(--border-color-gray);
}
.badge span{
    min-width: 70px;
}
.active-post{
    position: relative;
    padding: 0px 13px;
}
.active-post::before{
    position: absolute;
    content: '';
    top:40%;
    left: 0px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(54, 207, 54);
}